<div class="md-form mt-0">
        {{input
            value=searchValue
            class="form-control" 
            type="text" 
            placeholder="Search by song name" 
            aria-label="Search"
        }}
    </div>

<div class="row mb-2">   
{{#if songs.length}}
    {{#each filterSongs as |song index| }}
       <div class="card" style="width: 30%; margin:1%">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <label >Artist Name: </label>
                    {{input  
                        type="text" 
                        value=song.artistName 
                        disabled=isDisabled
                        doubleClick=(action 'toggleInput')  
                        keyUp=(action 'editMusic' song song.artistName "artistName")
                        focusOut=(action 'toggleInput')
                        }}
                </li>
                <li class="list-group-item">
                    <label >Album Name: </label>
                    {{input  type="text" value=song.albumName  disabled=isDisabled }}
                </li>
                <li class="list-group-item">
                    <label >Geners type: </label>
                    {{input  type="text"  value=song.geners disabled=isDisabled }}
                </li>
                <li class="list-group-item">
                    <label for="yearOfRelease">Releas date: </label>
                    {{input  type="text" value=song.yearOfRelease  disabled=isDisabled }}
                </li>
            </ul>
        </div>
    {{/each}}

    {{else}}
{{/if}}
</div>
{{yield}}